{% extends "frame.html" %}

{% block title %}
Blog
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Blog</h2>
    </div>
</div>

{% for post in posts %}

<div class="row my-4">
    <div class="div-md-10 offset-md-1">
        <h3 class="display-4"><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
        <p><em>{{post.created}}</em></p>
        <p>Written by <span class="badge badge-secondary p-2">{{post.user.username}}</span></p>
        <p class="lead">{{post.text}}</p>
        <a class="btn btn-primary" href="/posts/{{post.id}}" role="button">Read more</a>
        <hr class="my-4">
    </div>
</div>

{% endfor %}


<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-primary" role="alert">
            <h4>Write a new Blog Post</h4>
            <form method="post">
                <div class="form-group">
                    <label for="posttitle">Post Title</label>
                    <input type="text" name="posttitle" class="form-control" id="posttitle">
                </div>
                <div class="form-group">
                    <input type="text" hidden name="csrf_token"  class="form-control" id="csrf_token" value="{{csrf_token}}">
                </div>
                <div class="form-group">
                    <label for="posttest">Post Content</label>
                    <textarea rows="6" name="posttext" class="form-control" id="posttest"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
