{% extends "frame.html" %}

{% block title %}
Blog
{% endblock title %}

{% include 'navigation.html' %}

{% block content %}

{% for post in posts %}




<div class="d-flex justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead">{{post.text}}</p>
        <hr class="my-4">
        <p>{{post.user.username}}</p>
        <p><em>{{post.date}}</em></p>
        <a class="btn btn-primary btn-lg" href="/posts/{{post.id}}" role="button">Learn more</a>
    </div>
</div>

{% endfor %}


<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <label for="posttitle">Post Title</label>
                <input type="text" name="posttitle" class="form-control" id="posttitle">
            </div>
            <div class="form-group">
                <label for="posttest">Post Content</label>
                <textarea rows="6" name="posttext" class="form-control" id="posttest"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
{% endblock content %}