<div class="container-fluid text-center">
    <img src= {{ url_for('static', filename = 'images/footer-decoration.jpg') }} alt="Abstract image image footer" title="Mlog abstract footer image" class="img-fluid rounded-lg my-2">
</div>
<footer class="py-5 bg-dark text-light" style="background-color: #e3f2fd;">
    <div class="container text-center">
        <img src= {{ url_for('static', filename = 'images/blogo.png') }} alt="MLOG Logo" title="MLOG Logo" height="120" class="my-2">
        <p class="m-4">Site Designed by Marin Balabanov.<br>Images from Adobe Stock.</p>
    </div>
</footer>