{% extends "frame.html" %}

{% block title %}
Hello World
{% endblock title %}

{% block content %}
    <form method="post" action="/">
        <label for="basic-url">Please enter your name:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Name</span>
            </div>
            <input type="text" class="form-control" name="username" aria-describedby="basic-addon3">
        </div>
        <button type="submit"  class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
