{% extends "frame.html" %}

{% block title %}
Login
{% endblock title %}

    {% block content %}

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Login</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-4">

                {% if not logged_in %}

                <form name="loginForm" onsubmit="return validateLoginForm()" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                        <p id="username-message"></p>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                        <p id="password-message"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

                {% else %}

                <h1>You are logged in!</h1>

                {% endif %}

            </div>
        </div>

        <script type="text/javascript" src="../static/js/logincheck.js"></script>

    {% endblock content %}
