{% extends "frame.html" %}

{% block title %}
Posts - {{post.title}}
{% endblock title %}

{% include 'navigation.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">{{post.title}}</h2>
        <p class="lead">{{post.text}}</p>
        <p><strong>{{post.user.username}}</strong></p>
{% if comments %}
    <h1>Comments</h1>
{% else %}
    <h2>No Comments</h2>
{% endif %}

{% for comment in comments %}
<div class="alert alert-secondary" role="alert">
    <p>
        {{comment.text}}
    </p>
    <p>
        {{comment.user.username}}
    </p>
</div>
{% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <label for="commentInput">Comment</label>
                <input type="text" name="text" class="form-control" placeholder="your-comment" id="commentInput">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>
{% endblock content %}