{% extends "frame.html" %}

{% block title %}
Registration
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Registration</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2">

    {% if not logged_in %}
        <form onsubmit="return validateRegForm()" id="registerForm" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp">
                <p id="message0"></p>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailaddress">
                <p id="message1"></p>
            </div>

            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password">
                <p id="message2"></p>
            </div>
            <div class="form-group">
                <label for="repeat">Password-Repeat</label>
                <input type="password" name="repeat" class="form-control" id="repeat">
                <p id="message3"></p>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

         <button class="btn btn-primary my-4" onclick="getAllValues()">Test</button>

    {% else %}

    <h1>You are logged in!</h1>

    {% endif %}

    </div>
</div>

c

{% endblock content %}