{% extends "frame.html" %}

{% block title %}
Registration
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Registration</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2">

    {% if not logged_in %}
        <form method="post">
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputUsername1"
                       aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <input type="email" name="email" class="form-control" id="emailaddress"
                       aria-describedby="emailaddress">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPasswordRepeat1">Password-Repeat</label>
                <input type="password" name="repeat" class="form-control" id="exampleInputPasswordRepeat1">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    {% else %}

    <h1>You are logged in!</h1>

    {% endif %}

    </div>
</div>
{% endblock content %}